@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--margin: 8px;

	/* Color */
	--white: white;
	--black: black;
	--primary: #3e86f5;
	--secondary: #7c7c7c;
	--bg_color: #f3f3f3;

	/* Icons */
	--sprite_cell: 132px;
	--sprite_cols: 8;
	--sprite_rows: 1;
}

* {
	margin: 0;
	padding: 0;
	line-height: 1;
}

body {
	font-family: 'Poppins', sans-serif;
}

/* Layout */
.wrapper {
	min-height: 100vh;
	background-color: var(--bg_color);
}

.container {
	max-width: 1180px;
	padding: 0 calc(var(--margin) * 2);
	margin: auto;
	height: 100%;
}

.container_column {
	display: flex;
	flex-direction: column;
}

/*--> Blocks <--*/
/* First Screen */
.first-screen {
	position: relative;
	height: 100vh;
	background: url('images/fs_bg.jpg') center / cover;
}

.first-screen::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0.5;
	background-color: #000;
	content: '';
}

.first-screen > * {
	position: relative;
	z-index: 0;
	color: white;
}
.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}
.logo {
	font-size: 48px;
	font-weight: 500;
	color: var(--white);
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	font-size: 24px;
	font-weight: 500;
	color: var(--white);
	text-decoration: none;
}
.menu__item:not(:last-child) {
	margin-right: calc(var(--margin) * 6);
}
.menu__item_active {
	color: var(--primary);
	padding: 16px 44px;
	border-radius: 10px;
	background-color: var(--white);
}

.first-screen__content {
	text-align: center;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 820px;
	margin: auto;
}
.first-screen__title {
	font-size: 64px;
	line-height: 96px;
	font-weight: 600;
}
.first-screen__description {
	margin-top: calc(var(--margin) * 5);
	font-size: 24px;
	line-height: 48px;
	font-weight: 500;
}

/* Search Block */

.search {
	position: relative;
	z-index: 0;
	margin-top: calc(var(--margin) * -8 * 3);
	padding-bottom: calc(var(--margin) * 8);
}
.search__tabs {
	background-color: var(--white);
	display: inline-flex;
	padding: 10px 10px 24px 10px;
	border-radius: 25px 25px 0 0;
}
.search__tab {
	cursor: default;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 0;
	padding: 18px 20px;
	border-radius: 25px;
	overflow: hidden;
	color: var(--black);
	font-weight: 500;
}
.search__tab:first-child {
	margin-right: calc(var(--margin) * 2);
}
.search__tab:not(.search__tab_active) {
	cursor: pointer;
}
.search__tab_active::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0.2;
	background-color: var(--primary);
}

.search__tab-img {
	--sprite_cell: 25px;
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	margin-right: 4px;
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
}
.search__tab-img_1 {
	transform: rotate(-45deg);
}
.search__tab-img_2 {
	background-position-x: calc(var(--sprite_cell) * -1);
}
.search__filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--white);
	padding: 48px 60px;
	border-radius: 0 50px 50px 50px;
}
.search__filters > *:not(:last-child) {
	margin-right: calc(var(--margin) * 3);
}
.search__button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	min-width: 154px;
	height: 154px;
	border-radius: 65px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.search__button::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	z-index: -1;
	background-color: var(--primary);
}
.search__button > div {
	--sprite_cell: 62px;
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
	background-position-x: calc(var(--sprite_cell) * -4);
}

/* Special Block */
.special-block {
	padding: 160px 0;
}
.special-block .tabs {
	margin-bottom: calc(var(--margin) * 5);
}
.special-block__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -10px;
}
.special-block__cards .card {
	margin: 10px;
}

/* About Block */
.about-block {
	padding: 80px 0;
}
.about-block > .container {
	display: flex;
	align-items: center;
}
.statistic {
	position: relative;
	width: 480px;
	height: 800px;
	margin-right: 120px;
}
.statistic__img {
	border-radius: 75px;
}
.statistic__badge {
	position: absolute;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 40%;
	left: -87px;
	height: 120px;
	width: 174px;
	border-radius: 35px;
	background-color: var(--white);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
.statistic__badge_2,
.statistic__badge_3 {
	top: 8%;
	right: -100px;
	left: initial;
}
.statistic__badge_3 {
	top: 65%;
}
.statistic__badge > strong {
	font-size: 36px;
	color: var(--primary);
}
.description .title {
	margin-bottom: calc(var(--margin) * 3);
}
.description__text > p {
	font-size: 20px;
	line-height: 40px;
	color: var(--secondary);
	margin-bottom: calc(var(--margin) * 4);
}

/* Destination Block */
.destination-block {
	padding: 120px 0;
}
.destination-block .title {
	margin-bottom: calc(var(--margin) * 4);
}
.destination-block .tabs {
	margin-bottom: calc(var(--margin) * 10);
}
.destination-block__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: calc(var(--margin) * -1);
}
.destination-block__cards > .card {
	margin: var(--margin);
}

/* Review Block */
.reviews-block {
	padding: 210px 0 56px;
}
.reviews-block__cards {
	display: flex;
	justify-content: center;
	/* flex-wrap: wrap; */
	margin-bottom: calc(var(--margin) * -1);
}
.reviews-block__cards > .review {
	flex-grow: 1;
	box-sizing: border-box;
	margin: var(--margin);
}
.reviews-block__actions {
	display: flex;
	justify-content: center;
	margin-top: calc(var(--margin) * 4);
}
.reviews-block__prev,
.reviews-block__next {
	--arrow_size: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--arrow_size);
	height: var(--arrow_size);
	border-radius: 15px;
	border: 2px solid rgba(62, 134, 245, 0.5);
}
.reviews-block__prev {
	transform: rotate(-180deg);
	margin-right: 20px;
}
.reviews-block__prev > div,
.reviews-block__next > div {
	position: relative;
	left: -5px;
	width: calc(var(--arrow_size) / 4);
	height: calc(var(--arrow_size) / 4);
	border: 3px solid transparent;
	border-top-color: var(--primary);
	border-right-color: var(--primary);
	transform: rotate(45deg);
}

/* Discount Block */
.discount-block {
	padding: calc(var(--margin) * 10) 0;
}
.discount-block .title {
	color: var(--white);
}
.discount-block .button {
	border-radius: 25px;
}
.discount-block__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 115px 120px;
	border-radius: 100px;
	background: url('images/discount.jpg') center / cover;
}

/* Footer */
.footer {
	padding: calc(var(--margin) * 10) 0;
}
.footer > .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__copyright {
	font-size: 20px;
	opacity: 0.5;
}
.footer__menu {
	width: 400px;
	display: flex;
	justify-content: space-between;
}
.footer__menu-item {
	text-decoration: none;
	color: var(--black);
	font-size: 24px;
}

/*--> Elements <--*/

/* Filter block */
.filter {
	display: inline-flex;
	justify-content: space-between;
	position: relative;
	padding: 44px 22px;
	color: var(--black);
}
.filter::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	border-radius: 25px;
	border: 2px solid var(--secondary);
}
.filter > *:not(:last-child) {
	margin-right: calc(var(--margin) * 5);
}
.filter__item {
	font-weight: 500;
}
.filter__name {
	font-size: 17px;
	opacity: 0.5;
	color: var(--black);
	margin-bottom: calc(var(--margin) * 1.5);
}
.filter__value {
	font-size: 24px;
}
.filter__icon {
	--sprite_cell: 40px;
	position: relative;
	min-width: var(--sprite_cell);
	height: var(--sprite_cell);
}
.filter__icon::before,
.filter__icon::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--sprite_cell);
}
.filter__icon::before {
	--sprite_cell: 30px;
	top: 5px;
	left: 5px;
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
	background-position-x: calc(var(--sprite_cell) * -2);
}
.filter__icon::after {
	opacity: 0.3;
	border: 1px dashed var(--black);
}
.filter_date .filter__name {
	display: flex;
	align-items: center;
	opacity: 1;
}
.filter_date .filter__name > span {
	opacity: 0.5;
}
.filter__name-icon {
	--sprite_cell: 25px;
	margin-left: calc(var(--margin) * 1.5);
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
}
.filter__name-icon_return {
	transform: rotate(-180deg);
}
.filter_date .filter__icon::before {
	--sprite_cell: 26px;
	top: 7px;
	left: 7px;
	background-position-x: calc(var(--sprite_cell) * -3);
}

/* Title */
.title {
	font-size: 48px;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: calc(var(--margin) * 8);
}
.title_center {
	text-align: center;
}

/* Tabs */
.tabs {
	display: flex;
	justify-content: center;
}
.tabs_opacity .tabs__content {
	background-color: transparent;
	box-shadow: none;
}
.tabs_opacity .tabs__item_active:hover,
.tabs_opacity .tabs__item_active {
	color: var(--primary);
	background-color: var(--white);
}
.tabs__content {
	display: flex;
	padding: var(--margin);
	border-radius: var(--margin);
	background-color: var(--white);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.tabs__item {
	cursor: pointer;
	padding: calc(var(--margin) * 2) calc(var(--margin) * 3);
	color: var(--secondary);
	border-radius: var(--margin);
	font-size: 18px;
	font-weight: 500;
}
.tabs__item:not(:last-child) {
	margin-right: var(--margin);
}
.tabs__item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.tabs__item_active:hover,
.tabs__item_active {
	cursor: default;
	color: var(--white);
	background-color: var(--primary);
}

/* Card */
.card {
	display: inline-block;
	background-color: var(--white);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	overflow: hidden;
	padding: 22px 28px 24px;
}
.card_destination {
	max-width: 280px;
	box-sizing: border-box;
	border-radius: 25px;
	padding: var(--margin);
}
.card_destination .card__photo {
	border-radius: 25px;
	width: 100%;
}
.card_destination .card__title {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: calc(var(--margin) / 2);
}
.card_destination .card__bottom {
	padding: 0 calc(var(--margin) * 3);
}
.card_destination .card__top {
	margin-bottom: calc(var(--margin) * 2);
}
.card_destination .card__rating {
	position: absolute;
	right: 14px;
	top: 14px;
}
.card_destination .card__address {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: calc(var(--margin) / 3);
}
.card_destination .card__address > span {
	content: 'Cambodia';
	color: var(--black);
	opacity: 0.5;
}
.card_destination .card__address-icon {
	--sprite_cell: 17px;
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
	background-position-x: calc(var(--sprite_cell) * -6);
}
.card__top {
	position: relative;
	display: flex;
	margin-bottom: calc(var(--margin) * 2.5);
}
.card__photo {
	border-radius: 50px;
}
.card__date {
	--font_size: 18px;
	margin-left: calc(20px + (var(--font_size) / 2));
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	white-space: nowrap;
	font-size: var(--font_size);
	font-weight: 500;
	letter-spacing: 0.5em;
	color: var(--secondary);
}
.card__date > span {
	transform: rotate(90deg);
}
.card__bottom {
}
.card__params {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500px;
}
.card__badge {
	border-radius: 1em;
	color: #f178b6;
	background-color: #fcddec;
	padding: calc(var(--margin) / 2) calc(var(--margin) * 2);
}
.card__badge_adventure {
	color: #7879f1;
	background-color: #f1f1fd;
}
.card__duration {
	margin-left: calc(var(--margin) * 1.5);
	color: var(--secondary);
}
.card__title {
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
	margin: calc(var(--margin) * 1.5) 0;
}
.card__total {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card__price {
	display: flex;
	align-items: flex-end;
	font-size: 24px;
}
.card__price > span {
	font-size: 18px;
	color: var(--secondary);
}
.card__button {
	font-size: 14px;
	font-weight: 500;
	color: #3e86f5;
	background-color: #f2f6ff;
	border-radius: 10px;
	padding: calc(var(--margin) * 2) calc(var(--margin) * 2.5);
}

/* Rating */
.rating {
	display: flex;
	align-items: center;
	background-color: var(--white);
	padding: calc(var(--margin) / 4) var(--margin);
	border-radius: 25px;
	font-size: 12px;
	font-weight: 500;
}
.rating__img {
	--sprite_cell: 15px;
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	margin-right: 2px;
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
	background-position-x: calc(var(--sprite_cell) * -5);
}

/* Review */
.review {
	width: 580px;
}
.review__content {
	--offset: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: calc(var(--margin) * 10) calc(var(--margin) * 4);
	padding-bottom: 0;
	background-color: var(--white);
	border-radius: 50px;
	margin-bottom: var(--offset);
}
.review__content > * {
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: calc(var(--margin) / 1.5);
}
.review__quote {
	position: absolute;
	top: calc(var(--margin) * 2);
	width: var(--sprite_cell);
	height: var(--sprite_cell);
	background: url('images/sprite.png') left top /
		calc(var(--sprite_cell) * var(--sprite_cols))
		calc(var(--sprite_cell) * var(--sprite_rows));
	background-position-x: calc(var(--sprite_cell) * -7);
}
.review__text {
}
.review__name {
	color: var(--primary);
	text-decoration: none;
}
.review__nickname {
	position: relative;
	z-index: 1;
	color: var(--black);
	opacity: 0.5;
	margin-bottom: calc(var(--margin) * -8);
}
.review__avatar {
	position: relative;
	top: calc(var(--offset));
	display: inline-block;
	margin-bottom: 0;
	line-height: 0;
	padding: 24px 25px 10px;
	border-radius: 100px;
	background-color: var(--white);
}
.review__rating {
	position: absolute;
	top: calc(var(--margin) * 4);
	right: var(--margin);
}

/* Button */
.button {
	cursor: pointer;
	display: inline-block;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 300;
	padding: 28px 34px;
	color: var(--white);
	background-color: var(--primary);
	box-shadow: 4px 8px 25px rgba(62, 134, 245, 0.25);
}
.button_light {
	color: var(--primary);
	background-color: var(--white);
	box-shadow: none;
}
